.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

#book-delete {
	display: inline;
}

.form-align {
	width: 30%;
	margin: 30px auto;
}

.h1-align {
	text-align: center;
}

body{
	background: #649173; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
	background: inherit;
}

